[Unit]
Description=Clipboard tunnel for SSH remote paste

[Service]
Environment=WAYLAND_DISPLAY=wayland-1
ExecStart=socat TCP-LISTEN:11989,fork,reuseaddr EXEC:"wl-paste"
Restart=always

[Install]
WantedBy=default.target
