root = true

[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

[*.{py,lua}]
indent_style = space
indent_size = 4

[*.java]
indent_style = space

[*.sh]
indent_style = space
indent_size = 4

shell_variant = bash
binary_next_line = true
switch_case_indent = true
space_redirects = false
keep_padding = false
function_next_line = false
never_split = true
