/* === Color definitions === */
@define-color bg_base #f9f7f6;
@define-color bg_muted rgba(128, 128, 128, 1);
@define-color text_primary #4d4851;
@define-color text_light #f9f7f6;
@define-color accent #e5d9cd;
@define-color accent_active #4d4851;
@define-color critical #a63f3f;
@define-color link #3a7292;

/* === Base === */
* {
  font-size: 14px;
  font-family: "Geist", "Noto Sans", sans-serif;
  transition: 100ms;
  box-shadow: unset;
  color: @text_primary;
}

/* === Button styles === */
button {
  background-color: @bg_muted;
  border: unset;
  border-radius: 0.5rem;
  box-shadow: unset;
  text-shadow: unset;
}

button label,
button image {
  color: @text_light;
}

button:hover {
  background-color: @accent;
}
button:hover label,
button:hover image {
  color: @text_primary;
}

button:active {
  background-color: @accent_active;
}
button:active label,
button:active image {
  color: @text_light;
}

.close-button {
  min-height: 20px;
  min-width: 20px;
  margin-right: 13px;
  margin-top: 6px;
  padding-bottom: unset;
  margin-bottom: unset;
  border-radius: 9999px;
}

/* === Tooltip === */
tooltip {
  background-color: @bg_base;
}
tooltip label,
tooltip image {
  color: @text_primary;
}

/* === Notifications === */
.notification-background .notification {
  background-color: @bg_muted;
  margin-bottom: unset;
}

.notification-background .notification box,
.notification-background .notification widget,
.notification-background .notification .notification-content {
  border: unset;
  border-radius: 0.668rem;
}

.notification-background .notification .notification-content {
  background-color: @bg_base;
  padding: 0.818rem;
  padding-right: unset;
  margin-right: unset;
}

.notification-background:hover .notification,
.notification-default-action:hover {
  background-color: @accent;
  border-radius: 0.668rem;
}

/* Low & Normal */
.notification.low .notification-content label,
.notification.normal .notification-content label,
.notification.low .notification-content .body,
.notification.normal .notification-content .body {
  color: @text_primary;
}

.notification.low .notification-content image,
.notification.normal .notification-content image {
  background-color: unset;
  color: @link;
}

/* Critical */
.notification.critical .notification-content {
  background-color: @critical;
}

.notification.critical .notification-content label {
  color: @text_light;
}

.notification.critical .notification-content image {
  background-color: unset;
  color: @critical;
}

/* Typography */
.notification-content .summary {
  font-size: 0.9909rem;
  font-weight: 600;
}

.notification-content .time {
  font-size: 0.8291rem;
  font-weight: 600;
  margin-right: 1rem;
  padding-right: unset;
}

.notification-content .body {
  font-size: 0.8891rem;
  font-weight: 500;
  margin-top: 0.31rem;
  padding-right: unset;
  margin-right: unset;
}

/* === Control Center === */
.control-center {
  border-radius: 1.705rem;
  border-top: 1px solid rgba(164, 162, 167, 0.19);
  border-left: 1px solid rgba(164, 162, 167, 0.19);
  border-right: 1px solid rgba(128, 127, 132, 0.145);
  border-bottom: 1px solid rgba(128, 127, 132, 0.145);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.45);
  margin: 7px;
  background-color: @bg_base;
  padding: 1.023rem;
}

.control-center .notification-row {
  background-color: unset;
}

.control-center .notification-row .notification-background .notification {
  margin-top: 0.15rem;
}

.control-center trough {
  border-radius: 9999px;
  min-width: 0.545rem;
  background-color: transparent;
}

.control-center slider {
  border-radius: 9999px;
  min-width: 0.273rem;
  min-height: 2.045rem;
  background-color: @bg_muted;
}

/* === Notification Groups === */
.control-center-list row.notification-group {
  border-radius: 1.159rem;
  background-color: unset;
}

.notification-group-header.title-1 {
  color: @text_primary;
}
.notification-group-icon {
  color: @link;
}
.control-center-list-placeholder {
  color: @text_primary;
}

/* === Title Widget === */
.widget-title {
  padding: 0.341rem;
  margin: unset;
}

.widget-title label {
  font-size: 1.364rem;
  font-weight: 600;
  margin-left: 0.941rem;
}

.widget-title button {
  border-radius: 1.159rem;
  padding: 0.141rem;
  margin-right: 0.841rem;
}

.widget-title button label {
  font-size: 1.0409rem;
  margin-right: 0.841rem;
}

/* === Volume Widget === */
.widget-volume {
  background-color: @bg_muted;
  padding: 8px;
  margin: 8px;
  border-radius: 1.159rem;
}

.widget-volume label {
  color: @text_light;
}

.widget-volume trough {
  border: unset;
  background-color: @bg_muted;
}

.widget-volume trough slider {
  background-color: @bg_base;
  border-radius: 9999px;
  min-height: 1.25rem;
}

.widget-volume highlight,
.widget-backlight highlight {
  padding: 3.5px;
  border-radius: 9999px;
  background: @bg_base;
}

/* === Mpris Widget === */
.widget-mpris {
  background-color: unset;
  border-radius: 1.159rem;
}

.widget-mpris label {
  color: @text_light;
}

.mpris-background {
  border-radius: 14px;
  margin: 3px;
}

.mpris-overlay {
  border-radius: 14px;
  background-color: @bg_muted;
  box-shadow: unset;
}

.widget-mpris-title {
  font-weight: bold;
  font-size: 1.25rem;
}
.widget-mpris-subtitle {
  font-size: 1.1rem;
}
